*.iml
.gradle
/local.properties
local.properties
.idea/
/.idea/
.DS_Store
/build
/captures
.externalNativeBuild
.cxx

# Sensitive configurations & secret keys
google-services.json
**/google-services.json
*.keystore
*.jks
*.p12
*.pem
*.key
